@font-face {
  font-family: 'RobotoMono-Bold';
  src: url('~@/assets/fonts/RobotoMono-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'RobotoMono-ItalicLight';
  src: url('~@/assets/fonts/RobotoMono-Italic-Light.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('~@/assets/fonts/Rubik-Light.ttf');
  font-weight: 300;
}